.blog-post-container {
  max-width: 960px;
  margin: 30px auto;

  box-sizing: border-box;
  color: rgb(10, 10, 10);
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 30px;

  overflow: auto;
}

.blog-post iframe {
  max-width: 100%;
  margin: 40px auto;
  display: block;
}

.blog-post h1, 
.blog-post h2, 
.blog-post h3 {
  line-height: normal;
}

.blog-post .post-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.blog-post-container .blog-post code.language-text {
  margin: auto;
  background: rgba(0,0,0,0.1);
  padding: 0.1em 0.3em 0;
  border-radius: 2px;
  font-size: 0.84em;
  vertical-align: 0;
  max-width: 100%;
  line-height: 1.6em;
  word-break: break-all;
  white-space: nowrap;
  color: rgb(10, 10, 10);
  font-family: monospace;
}

.blog-post-container .blog-post li {
  margin: 8px 0;
}