.blog-posts .blog-post-preview {
    color: rgb(10, 10, 10);
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}

.blog-post-preview h1 {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: normal;
}

.blog-post-preview a {
  color: inherit;
  text-decoration: none;
}