html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(235, 235, 235);
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans';
}

.main-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0,
}

.card {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.secondary-text {
  color: rgb(98, 98, 98);
}

footer {
  color: rgb(98, 98, 98);
  font-size: 90%;
  padding-bottom: 5px;
  padding-left: 5px;
}
